{% extends './base.html' %}
{% block titulo %}
<title>Aromaticas</title>
{% endblock %}
{% block contenido %}
<div class="container">
    <div class="sticky-container">
        <ul class="sticky">
            <li>
                <img src="{{url_for('static',filename='img/facebook.png')}}" width="32" height="32">
                <p><a href="https://www.facebook.com/Verde-Natural-104743242304713/" target="_blank">Sigueno
                        en:<br>Facebook</a></p>
            </li>
            <li>
                <img src="{{url_for('static',filename='img/twitter.png')}}" width="32" height="32">
                <p><a href="https://twitter.com/Verdenatural61" target="_blank">Siguenos en:<br>Twitter</a></p>
            </li>
            <li>
                <img src="{{url_for('static',filename='img/instagram.png')}}" width="32" height="32">
                <p><a href="https://www.instagram.com/tienda_online_verde_natural/" target="_blank">Siguenos en:<br>Instagram</a>
                </p>
            </li>
            <li>
                <img src="{{url_for('static',filename='img/whatsapp.png')}}" width="32" height="32">
                <p><a href="https://web.whatsapp.com/" target="_blank">Escribenos en:<br>whatsapp</a>
                </p>
            </li>
        </ul>
    </div>
    <br>
    <center>
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <h3 class="item">AROMÁTICAS </h3>
                    <div class="col-sm-3">
                        <br>
                        <div class="card">
                            <div class="card-header">
                                ROMERO – ROSMARINUS OFFICINALIS M-13
                            </div>
                            <center>
                                <div class="card-body">
                                    
                                        <img src="{{url_for('static',filename='img/img_1.jpg')}}" alt="" width="200px" height="200px">
                                    
                                    
                                    <p class="card-text">PRECIO: $5.65 </p>
                                    <div class="comprar">
                                        <a href="{{ url_for('login') }}">Comprar</a>
                                    </div>
                                    <a  target="_blank" href="https://es.wikipedia.org/wiki/Salvia_rosmarinus"><input type="button" class="informate"value="informate aqui" ></a>
                                </div>
                            </center>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <br>
                        <div class="card">
                            <div class="card-header">
                                MENTA LIMON – MENTHA CITRATA LEMON M-11
                            </div>
                            <center>
                                <div class="card-body">
                                    
                                        <img src="{{url_for('static',filename='img/img_2.jpg')}}" alt="" width="200px" height="200px">
                                    
                                    
                                    <p class="card-text">PRECIO: $5.69</p>
                                    <div class="comprar">
                                        <a href="{{ url_for('login') }}">Comprar</a>
                                    </div>
                                    <a  target="_blank" href="https://es.wikipedia.org/wiki/Melissa_officinalis"><input type="button" class="informate"value="informate aqui" ></a>
                                </div>
                            </center>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <br>

                        <div class="card">
                            <div class="card-header">
                                ROMERO RASTRERO – POSTRATA (RASTRERO) M-13
                            </div>
                            <center>
                                <div class="card-body">
                                    
                                        <img src="{{url_for('static',filename='img/img_5.jpg')}}" alt="" width="200px" height="200px">
                                    
                                    
                                    <p class="card-text">PRECIO: $5.88</p>
                                    <div class="comprar">
                                        <a href="{{ url_for('login') }}">Comprar</a>
                                    </div>
                                    <a  target="_blank" href="https://fichas.infojardin.com/arbustos/rosmarinus-officinalis-prostratus-romero-rastrero.htm"><input type="button" class="informate"value="informate aqui" ></a>
                                </div>
                            </center>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <br>
                        <div class="card">
                            <div class="card-header">
                                LAVANDA ESPLIEGO – LAVANDULA M-11 (ESPLIEGO)
                            </div>
                            <center>
                                <div class="card-body">
                                    
                                        <img src="{{url_for('static',filename='img/img_8.jpg')}}" alt="" width="200px" height="200px">
                                    
                                    
                                    <p class="card-text">PRECIO: $5.00</p>
                                    <div class="comprar">
                                        <a href="{{ url_for('login') }}">Comprar</a>
                                    </div>
                                    <a  target="_blank" href="https://es.wikipedia.org/wiki/Lavandula"><input type="button" class="informate"value="informate aqui" ></a>
                                </div>
                            </center>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <br>
                        <div class="card">
                            <div class="card-header">
                                LAVANDULA ANGUSTIFOLIA
                            </div>
                            <center>
                                <div class="card-body">
                                    
                                        <img src="{{url_for('static',filename='img/img_3.jpg')}}" alt="" width="200px" height="200px">
                                    
                                    
                                    <p class="card-text">PRECIO: $7.00</p>
                                    <div class="comprar">
                                        <a href="{{ url_for('login') }}">Comprar</a>
                                    </div>
                                    <a  target="_blank" href="https://es.wikipedia.org/wiki/Lavandula_angustifolia"><input type="button" class="informate"value="informate aqui" ></a>
                                </div>
                            </center>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <br>
                        <div class="card">
                            <div class="card-header">
                                AGAPANTHUS BLANCO
                            </div>
                            <center>
                                <div class="card-body">
                                    
                                        <img src="{{url_for('static',filename='img/img_6.jpg')}}" alt="" width="200px" height="200px">
                                    
                                    
                                    <p class="card-text">PRECIO: $6.78</p>
                                    <div class="comprar">
                                        <a href="{{ url_for('login') }}">Comprar</a>
                                    </div>
                                    <a  target="_blank" href="https://es.wikipedia.org/wiki/Agapanthus_africanus"><input type="button" class="informate"value="informate aqui" ></a>
                                </div>
                            </center>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <br>
                        <div class="card">
                            <div class="card-header">
                                AGAPANTHUS AZUL
                            </div>
                            <center>
                                <div class="card-body">
                                    
                                        <img src="{{url_for('static',filename='img/img_7.jpg')}}" alt="" width="200px" height="200px">
                                    
                                    
                                    <p class="card-text">PRECIO: $8.00</p>
                                    <div class="comprar">
                                        <a href="{{ url_for('login') }}">Comprar</a>
                                    </div>
                                    <a  target="_blank" href="https://es.wikipedia.org/wiki/Agapanthus_africanus"><input type="button" class="informate"value="informate aqui" ></a>
                                </div>
                            </center>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <br>
                        <div class="card">
                            <div class="card-header">
                                ROMERO – ROMERO M-17
                            </div>
                            <center>
                                <div class="card-body">
                                    
                                        <img src="{{url_for('static',filename='img/img_4.jpg')}}" alt="" width="200px" height="200px">
                                    
                                    
                                    <p class="card-text">PRECIO: $10.00</p>
                                    <div class="comprar">
                                        <a href="{{ url_for('login') }}">Comprar</a>
                                    </div>
                                    <a  target="_blank" href="https://es.wikipedia.org/wiki/Salvia_rosmarinus"><input type="button" class="informate"value="informate aqui" ></a>
                                </div>
                            </center>
                        </div>
                    </div>
                </div>
                <div class="row">
                    
                    <div class="col-sm-3">
                        <br>
                        <div class="card">
                            <div class="card-header">
                                ROSMARINUS POSTRATA-2
                            </div>
                            <center>
                                <div class="card-body">
                                    
                                        <img src="{{url_for('static',filename='img/img_9.jpg')}}" alt="" width="200px" height="200px">
                                    
                                    
                                    <p class="card-text">PRECIO: $8.99</a>
                                        <div class="comprar">
                                            <a href="{{ url_for('login') }}">Comprar</a>
                                        </div>
                                        <a  target="_blank" href="https://es.wikipedia.org/wiki/Rosmarinus"><input type="button" class="informate"value="informate aqui" ></a>
                                </div>
                            </center>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <br>
                        <div class="card">
                            <div class="card-header">
                                Estevia – Stevia
                            </div>
                            <center>
                                <div class="card-body">
                                    
                                        <img src="{{url_for('static',filename='img/img_10.jpg')}}" alt="" width="200px" height="200px">
                                    
                                    
                                    <p class="card-text">PRECIO: $7.00</p>
                                    <div class="comprar">
                                        <a href="{{ url_for('login') }}">Comprar</a>
                                    </div>
                                    <a  target="_blank" href="https://es.wikipedia.org/wiki/Estevia_(edulcorante)"><input type="button" class="informate"value="informate aqui" ></a>
                                </div>
                            </center>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <br>
                        <div class="card">
                            <div class="card-header">
                                MENTA CHOCOLATE – M-11
                            </div>
                            <center>
                                <div class="card-body">
                                    
                                        <img src="{{url_for('static',filename='img/img_11.jpg')}}" alt="" width="200px" height="200px">
                                    
                                    
                                    <p class="card-text">PRECIO: $7.66</p>
                                    <div class="comprar">
                                        <a href="{{ url_for('login') }}">Comprar</a>
                                    </div>
                                    <a  target="_blank" href="https://es.wikipedia.org/wiki/Mentha"><input type="button" class="informate"value="informate aqui" ></a>
                                </div>
                            </center>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <br>
                        <div class="card">
                            <div class="card-header">
                                LAVANDA STOECHAS – M-11
                            </div>
                            <center>
                                <div class="card-body">
                                    
                                        <img src="{{url_for('static',filename='img/img_12.jpg')}}" alt="" width="200px" height="200px">
                                    
                                    
                                    <p class="card-text">PRECIO: $10.00</p>
                                    <div class="comprar">
                                        <a href="{{ url_for('login') }}">Comprar</a>
                                    </div>
                                    <a  target="_blank" href="https://es.wikipedia.org/wiki/Lavandula_stoechas"><input type="button" class="informate"value="informate aqui" ></a>
                                </div>
                            </center>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </center>
    
</div>
{% endblock %}