{% extends './base.html' %}
{% block titulo %}
<title>Decorativas</title>
{% endblock %}
{% block contenido %}
<div class="container">
    <div class="sticky-container">
        <ul class="sticky">
            <li>
                <img src="{{url_for('static',filename='img/facebook.png')}}" width="32" height="32">
                <p><a href="https://www.facebook.com/Verde-Natural-104743242304713/" target="_blank">Sigueno
                        en:<br>Facebook</a></p>
            </li>
            <li>
                <img src="{{url_for('static',filename='img/twitter.png')}}" width="32" height="32">
                <p><a href="https://twitter.com/Verdenatural61" target="_blank">Siguenos en:<br>Twitter</a></p>
            </li>
            <li>
                <img src="{{url_for('static',filename='img/instagram.png')}}" width="32" height="32">
                <p><a href="https://www.instagram.com/tienda_online_verde_natural/" target="_blank">Siguenos en:<br>Instagram</a>
                </p>
            </li>
            <li>
                <img src="{{url_for('static',filename='img/whatsapp.png')}}" width="32" height="32">
                <p><a href="https://web.whatsapp.com/" target="_blank">Escribenos en:<br>whatsapp</a>
                </p>
            </li>
        </ul>
    </div>
    <br>
    <center>
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <h3 class="item">PLANTAS DECORATIVAS</h3>
                    <div class="col-sm-3">
                        <br>
                        <div class="card">
                            <div class="card-header">
                                CHAMAEDOREA
                            </div>
                            <center>
                                <div class="card-body">
                                    
                                        <img src="{{url_for('static',filename='img/img_A.jpg')}}" alt="" width="200px" height="200px">
                                    
                                    
                                    <p class="card-text">PRECIO: $18.12 </p>
                                    <div class="comprar">
                                        <a href="{{ url_for('login') }}">Comprar</a>
                                    </div>
                                    <a  target="_blank" href="https://es.wikipedia.org/wiki/Chamaedorea_elegans"><input type="button" class="informate"value="informate aqui" ></a>
                                </div>
                            </center>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <br>
                        <div class="card">
                            <div class="card-header">
                                HELECHO ESPADA
                            </div>
                            <center>
                                <div class="card-body">
                                    
                                        <img src="{{url_for('static',filename='img/img_B.jpg')}}" alt="" width="200px" height="200px">
                                    
                                    
                                    <p class="card-text">PRECIO: $15.05</p>
                                    <div class="comprar">
                                        <a href="{{ url_for('login') }}">Comprar</a>
                                    </div>
                                    <a  target="_blank" href="https://es.wikipedia.org/wiki/Polystichum_munitum"><input type="button" class="informate"value="informate aqui" ></a>
                                </div>
                            </center>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <br>

                        <div class="card">
                            <div class="card-header">
                                MONSTERA DELICIOSA
                            </div>
                            <center>
                                <div class="card-body">
                                    
                                        <img src="{{url_for('static',filename='img/img_C.jpg')}}" alt="" width="200px" height="200px">
                                    
                                    
                                    <p class="card-text">PRECIO: $35.02</p>
                                    <div class="comprar">
                                        <a href="{{ url_for('login') }}">Comprar</a>
                                    </div>
                                    <a  target="_blank" href="https://es.wikipedia.org/wiki/Monstera_deliciosa"><input type="button" class="informate"value="informate aqui" ></a>
                                </div>
                            </center>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <br>
                        <div class="card">
                            <div class="card-header">
                                PHOTO CON TUTOR
                            </div>
                            <center>
                                <div class="card-body">
                                    
                                        <img src="{{url_for('static',filename='img/img_D.jpg')}}" alt="" width="200px" height="200px">
                                   
                                    
                                    <p class="card-text">PRECIO: $24.72</p>
                                    <div class="comprar">
                                        <a href="{{ url_for('login') }}">Comprar</a>
                                    </div>
                                    <a  target="_blank" href="https://es.wikipedia.org/wiki/Pothos_(planta)"><input type="button" class="informate"value="informate aqui" ></a>
                                </div>
                            </center>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <br>
                        <div class="card">
                            <div class="card-header">
                                SANSEVIERIA TRIFASCIATA
                            </div>
                            <center>
                                <div class="card-body">
                                    
                                        <img src="{{url_for('static',filename='img/img_E.jpg')}}" alt="" width="200px" height="200px">
                                   
                                    
                                    <p class="card-text">PRECIO: $17.60</p>
                                    <div class="comprar">
                                        <a href="{{ url_for('login') }}">Comprar</a>
                                    </div>
                                    <a  target="_blank" href="https://es.wikipedia.org/wiki/Sansevieria_trifasciata"><input type="button" class="informate"value="informate aqui" ></a>
                                </div>
                            </center>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <br>
                        <div class="card">
                            <div class="card-header">
                                SENECIO COLGANTE
                            </div>
                            <center>
                                <div class="card-body">
                                    
                                        <img src="{{url_for('static',filename='img/img_F.jpg')}}" alt="" width="200px" height="200px">
                                    
                                    
                                    <p class="card-text">PRECIO: $10.60</p>
                                    <div class="comprar">
                                        <a href="{{ url_for('login') }}">Comprar</a>
                                    </div>
                                    <a  target="_blank" href="https://es.wikipedia.org/wiki/Senecio"><input type="button" class="informate"value="informate aqui" ></a>
                                </div>
                            </center>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <br>
                        <div class="card">
                            <div class="card-header">
                                PHILODENDRON FLORIDA
                            </div>
                            <center>
                                <div class="card-body">
                                    
                                        <img src="{{url_for('static',filename='img/img_F2.jpg')}}" alt="" width="200px" height="200px">
                                    
                                    
                                    <p class="card-text">PRECIO: $22.71</p>
                                    <div class="comprar">
                                        <a href="{{ url_for('login') }}">Comprar</a>
                                    </div>
                                    <a  target="_blank" href="https://en.wikipedia.org/wiki/Philodendron"><input type="button" class="informate"value="informate aqui" ></a>
                                </div>
                            </center>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <br>
                        <div class="card">
                            <div class="card-header">
                                FICUS GINSENG
                            </div>
                            <center>
                                <div class="card-body">
                                    
                                        <img src="{{url_for('static',filename='img/img_H.jpg')}}" alt="" width="200px" height="200px">
                                    
                                    
                                    <p class="card-text">PRECIO: $20.99</p>
                                    <div class="comprar">
                                        <a href="{{ url_for('login') }}">Comprar</a>
                                    </div>
                                    <a  target="_blank" href="https://es.wikipedia.org/wiki/Ficus_microcarpa"><input type="button" class="informate"value="informate aqui" ></a>
                                </div>
                            </center>
                        </div>
                    </div>
                </div>
                <div class="row">
                    
                    <div class="col-sm-3">
                        <br>
                        <div class="card">
                            <div class="card-header">
                                ECHEVERIA MIX
                            </div>
                            <center>
                                <div class="card-body">
                                    
                                        <img src="{{url_for('static',filename='img/img_I.jpg')}}" alt="" width="200px" height="200px">
                                    
                                    
                                    <p class="card-text">PRECIO: $12.59</a>
                                        <div class="comprar">
                                            <a href="{{ url_for('login') }}">Comprar</a>
                                        </div>
                                        <a  target="_blank" href="https://es.wikipedia.org/wiki/Echeveria"><input type="button" class="informate"value="informate aqui" ></a>
                                </div>
                            </center>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <br>
                        <div class="card">
                            <div class="card-header">
                                SENECIO ANGEL WINGS
                            </div>
                            <center>
                                <div class="card-body">
                                    
                                        <img src="{{url_for('static',filename='img/img_J.jpg')}}" alt="" width="200px" height="200px">
                                    
                                    
                                    <p class="card-text">PRECIO: $7.00</p>
                                    <div class="comprar">
                                        <a href="{{ url_for('login') }}">Comprar</a>
                                    </div>
                                    <a  target="_blank" href="https://es.wikipedia.org/wiki/Senecio"><input type="button" class="informate"value="informate aqui" ></a>
                                </div>
                            </center>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <br>
                        <div class="card">
                            <div class="card-header">
                                HELECHO DE ACEBO
                            </div>
                            <center>
                                <div class="card-body">
                                    
                                        <img src="{{url_for('static',filename='img/img_K.jpg')}}" alt="" width="200px" height="200px">
                                    
                                    
                                    <p class="card-text">PRECIO: $15.00</p>
                                    <div class="comprar">
                                        <a href="{{ url_for('login') }}">Comprar</a>
                                    </div>
                                    <a  target="_blank" href="https://es.wikipedia.org/wiki/Ilex_aquifolium"><input type="button" class="informate"value="informate aqui" ></a>

                                </div>
                            </center>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <br>
                        <div class="card">
                            <div class="card-header">
                                MUSGO NATURAL
                            </div>
                            <center>
                                <div class="card-body">
                                    
                                        <img src="{{url_for('static',filename='img/img_L.jpg')}}" alt="" width="200px" height="200px">
                                    
                                    <p class="card-text">PRECIO: $12.00</p>
                                    <div class="comprar">
                                        <a href="{{ url_for('login') }}">Comprar</a>
                                    </div>
                                    <a  target="_blank" href="https://es.wikipedia.org/wiki/Sphagnum"><input type="button" class="informate"value="informate aqui" ></a>

                                    
                                </div>
                            </center>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </center>

</div>
{% endblock %}