{% extends './base.html' %}
{% block titulo %}
<title>Nosotros</title>
{% endblock %}
{% block contenido %}

<div class="container">

    <div class="sticky-container">
        <ul class="sticky">
            <li>
                <img src="{{url_for('static',filename='img/facebook.png')}}" width="32" height="32">
                <p><a href="https://www.facebook.com/Verde-Natural-104743242304713/" target="_blank">Sigueno
                        en:<br>Facebook</a></p>
            </li>
            <li>
                <img src="{{url_for('static',filename='img/twitter.png')}}" width="32" height="32">
                <p><a href="https://twitter.com/Verdenatural61" target="_blank">Siguenos en:<br>Twitter</a></p>
            </li>
            <li>
                <img src="{{url_for('static',filename='img/instagram.png')}}" width="32" height="32">
                <p><a href="https://www.instagram.com/tienda_online_verde_natural/" target="_blank">Siguenos en:<br>Instagram</a>
                </p>
            </li>
            <li>
                <img src="{{url_for('static',filename='img/whatsapp.png')}}" width="32" height="32">
                <p><a href="https://web.whatsapp.com/" target="_blank">Escribenos en:<br>whatsapp</a>
                </p>
            </li>
        </ul>
    </div>
    <br>
    <center><img src="{{url_for('static',filename='img/planta.jpeg')}}" alt="" width="400px" height="300px"></center>
    <hr>
    <center>
        <div class="titulo-nosotros">
            <h3>
                <center>QUIÉNES SOMOS</center>
            </h3>
            <br>
        </div>
        <p>Somos una tienda online ambientalmente responsable, ya que nos dedicamos a la venta legal y comercialización
        de plantas aromaticas, plantas para regalos y para decorar con el objetivo de contribuir a la conservación
        de éstas . Además, realizamos labores de difusión de información y conocimiento de como cuidar sus plantas
        para
        que la gente esté
        informada sobre la importancia de ellas en sus ecosistemas nativos.</p>
        <hr>
        <div class="titulo-nosotros">
            <h3>
                <center> MISIÓN</center>
            </h3>
            <br>
        </div>
        <p>Sabemos que estar en contacto con la naturaleza y entornos verdes tiene un efecto positivo sobre nuestra
        salud física y mental. Desde Verde Natural queremos ayudarte a conectar con la naturaleza en tu día a día,
        trayéndote el mundo natural al interior de tus espacios con nuestras plantas y servicios personalizados
        dando mantenimiento, ejecución de plantas para decoracion,para regalar y aromaticas con el objetivo de
        contribuir a la conservación del planeta y mejorar las condiciones de vida de quienes lo habitamos.</p>
        <hr>
        <div class="titulo-nosotros">
            <h3>
                <center> VISIÓN</center>
            </h3>
            <br>
        </div>
        <p>En un futuro queremos ser una tienda reconocida a nivel Nacional por su calidad, calidez y servicio en la
        venta e informaciones de plantas . Comprometida con el medio ambiente, generando un desarrollo sostenible y
        responsable . Con un equipo humano capacitado, que nos permita ser el mejor aliado de nuestros clientes.</p> 
       
    </center>
    <hr>
    <div class="titulo-nosotros">
        <h3>
            <center> VALORES</center>
        </h3>
        <br>
    </div>
    <div class="titulo-valores">
        <h5> ▸Respeto</h5>
    </div>
    Por el ser humano, por las plantas como seres vivos y por la naturaleza en general.
    <div class="titulo-valores">
        <h5> ▸Nuestro Compromiso</h5>
    </div>
    Ante la sociedad parte de la legalidad en cada uno de nuestros procesos.
    <div class="titulo-valores">
        <h5> ▸Perseverancia</h5>
    </div>
    Cumplir con nuestros objetivos sociales y empresariales es el motor que nos impulsa a
    seguir trabajando por ofrecer la mejor calidad y servicio en el mercado.
    <div class="titulo-valores">
        <h5> ▸Cercanía</h5>
    </div>
    El trato humano hacia nuestros clientes y servidores es una característica innegociable para
    Plantas Verde Natural.
    <div class="titulo-valores">
        <h5> ▸Responsabilidad</h5>
    </div>
    El énfasis en la calidad y el cuidado que les damos a nuestras plantas nos direcciona
    al cumplimiento de los más altos estándares de trabajo y la satisfacción de las necesidades de nuestros
    clientes.
   
</div>
<br>
{% endblock %}