{% extends './base.html' %}
{% block titulo %}
    <title>Para regalar</title>
{% endblock %}
{% block contenido %}
<div class="container">
    <div class="sticky-container">
        <ul class="sticky">
            <li>
                <img src="{{url_for('static',filename='img/facebook.png')}}" width="32" height="32">
                <p><a href="https://www.facebook.com/Verde-Natural-104743242304713/" target="_blank">Sigueno
                        en:<br>Facebook</a></p>
            </li>
            <li>
                <img src="{{url_for('static',filename='img/twitter.png')}}" width="32" height="32">
                <p><a href="https://twitter.com/Verdenatural61" target="_blank">Siguenos en:<br>Twitter</a></p>
            </li>
            <li>
                <img src="{{url_for('static',filename='img/instagram.png')}}" width="32" height="32">
                <p><a href="https://www.instagram.com/tienda_online_verde_natural/" target="_blank">Siguenos
                        en:<br>Instagram</a>
                </p>
            </li>
            <li>
                <img src="{{url_for('static',filename='img/whatsapp.png')}}" width="32" height="32">
                <p><a href="https://web.whatsapp.com/" target="_blank">Escribenos en:<br>whatsapp</a>
                </p>
            </li>
        </ul>
    </div>
    <br>
    <center>
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <h3 class="item">PARA REGALAR</h3>
                    <div class="col-sm-3">
                        <br>
                        <div class="card">
                            <div class="card-header">
                                Cúpula de Flores Preservadas
                            </div>
                            <center>
                                <div class="card-body">
                                    
                                        <img src="{{url_for('static',filename='img/img_01.jpg')}}" alt="" width="200px" height="200px">
                                    

                                    <p class="card-text">PRECIO: $18.12 </p>
                                    <div class="comprar">
                                        <a href="{{ url_for('login') }}">Comprar</a>
                                    </div>
                                </div>
                            </center>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <br>
                        <div class="card">
                            <div class="card-header">
                                Letra de flor seca y preservada
                            </div>
                            <center>
                                <div class="card-body">
                                    
                                        <img src="{{url_for('static',filename='img/img_02.jpg')}}" alt="" width="200px" height="200px">
                                    
                                    
                                    <p class="card-text">PRECIO: $25.29</p>
                                    <div class="comprar">
                                        <a href="{{ url_for('login') }}">Comprar</a>
                                    </div>
                                </div>
                            </center>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <br>

                        <div class="card">
                            <div class="card-header">
                                Letra en marco de flor seca
                            </div>
                            <center>
                                <div class="card-body">
                                    
                                        <img src="{{url_for('static',filename='img/img_03.jpg')}}" alt="" width="200px" height="200px">
                                    

                                    <p class="card-text">PRECIO: $35.00</p>
                                    <div class="comprar">
                                        <a href="{{ url_for('login') }}">Comprar</a>
                                    </div>
                                </div>
                            </center>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <br>
                        <div class="card">
                            <div class="card-header">
                                Kit Huerto Vintage
                            </div>
                            <center>
                                <div class="card-body">
                                    
                                        <img src="{{url_for('static',filename='img/img_04.jpg')}}" alt="" width="200px" height="200px">
                                    

                                    <p class="card-text">PRECIO: $30.00</p>
                                    <div class="comprar">
                                        <a href="{{ url_for('login') }}">Comprar</a>
                                    </div>
                                </div>
                            </center>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <br>
                        <div class="card">
                            <div class="card-header">
                                Letra de flor seca con luz
                            </div>
                            <center>
                                <div class="card-body">
                                    
                                        <img src="{{url_for('static',filename='img/img_05.jpg')}}" alt="" width="200px" height="200px">
                                   

                                    <p class="card-text">PRECIO: $39.99</p>
                                    <div class="comprar">
                                        <a href="{{ url_for('login') }}">Comprar</a>
                                    </div>
                                </div>
                            </center>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <br>
                        <div class="card">
                            <div class="card-header">
                                Cesta de semillas comestibles
                            </div>
                            <center>
                                <div class="card-body">
                                    
                                        <img src="{{url_for('static',filename='img/img_06.jpg')}}" alt="" width="200px" height="200px">
                                    

                                    <p class="card-text">PRECIO: $10.00</p>
                                    <div class="comprar">
                                        <a href="{{ url_for('login') }}">Comprar</a>
                                    </div>
                                </div>
                            </center>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <br>
                        <div class="card">
                            <div class="card-header">
                                Cúpula rosa eterna
                            </div>
                            <center>
                                <div class="card-body">
                                    
                                        <img src="{{url_for('static',filename='img/img_07.jpg')}}" alt="" width="200px" height="200px">
                                   

                                    <p class="card-text">PRECIO: $25.00</p>
                                    <div class="comprar">
                                        <a href="{{ url_for('login') }}">Comprar</a>
                                    </div>
                                </div>
                            </center>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <br>
                        <div class="card">
                            <div class="card-header">
                                Bola de cristal con flor
                            </div>
                            <center>
                                <div class="card-body">
                                    
                                        <img src="{{url_for('static',filename='img/img_08.jpg')}}" alt="" width="200px" height="200px">
                                    

                                    <p class="card-text">PRECIO: $17.00</p>
                                    <div class="comprar">
                                        <a href="{{ url_for('login') }}">Comprar</a>
                                    </div>
                                </div>
                            </center>
                        </div>
                    </div>
                </div>
                <div class="row">

                    <div class="col-sm-3">
                        <br>
                        <div class="card">
                            <div class="card-header">
                                Ramo de flores secas
                            </div>
                            <center>
                                <div class="card-body">
                                   
                                        <img src="{{url_for('static',filename='img/img_09.jpg')}}" alt="" width="200px" height="200px">
                                   

                                    <p class="card-text">PRECIO: $13.99</a>
                                        <div class="comprar">
                                            <a href="{{ url_for('login') }}">Comprar</a>
                                        </div>
                                </div>
                            </center>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <br>
                        <div class="card">
                            <div class="card-header">
                                Planta sintetica - N1
                            </div>
                            <center>
                                <div class="card-body">
                                    
                                        <img src="{{url_for('static',filename='img/img_010.jpg')}}" alt="" width="200px" height="200px">
                                    

                                    <p class="card-text">PRECIO: $7.00</p>
                                    <div class="comprar">
                                        <a href="{{ url_for('login') }}">Comprar</a>
                                    </div>
                                </div>
                            </center>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <br>
                        <div class="card">
                            <div class="card-header">
                                Ramo de flores en caja redonda
                            </div>
                            <center>
                                <div class="card-body">
                                    
                                        <img src="{{url_for('static',filename='img/img_011.jpg')}}" alt="" width="200px" height="200px">
                                   

                                    <p class="card-text">PRECIO: $7.66</p>
                                    <div class="comprar">
                                        <a href="{{ url_for('login') }}">Comprar</a>
                                    </div>
                                </div>
                            </center>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <br>
                        <div class="card">
                            <div class="card-header">
                                Planta sintetica - N2
                            </div>
                            <center>
                                <div class="card-body">
                                   
                                        <img src="{{url_for('static',filename='img/img_012.jpg')}}" alt="" width="200px" height="200px">
                                   
                                    
                                    <p class="card-text">PRECIO: $7.00</p>
                                    <div class="comprar">
                                        <a href="{{ url_for('login') }}">Comprar</a>
                                    </div>
                                </div>
                            </center>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </center>
    
</div>
{% endblock %}