{% extends './base.html' %}
{% block titulo %}
<title>Tratamientos</title>
{% endblock %}
{% block contenido %}
<div class="container">
    <div class="sticky-container">
        <ul class="sticky">
            <li>
                <img src="{{url_for('static',filename='img/facebook.png')}}" width="32" height="32">
                <p><a href="https://www.facebook.com/Verde-Natural-104743242304713/" target="_blank">Sigueno
                        en:<br>Facebook</a></p>
            </li>
            <li>
                <img src="{{url_for('static',filename='img/twitter.png')}}" width="32" height="32">
                <p><a href="https://twitter.com/Verdenatural61" target="_blank">Siguenos en:<br>Twitter</a></p>
            </li>
            <li>
                <img src="{{url_for('static',filename='img/instagram.png')}}" width="32" height="32">
                <p><a href="https://www.instagram.com/tienda_online_verde_natural/" target="_blank">Siguenos
                        en:<br>Instagram</a>
                </p>
            </li>
            <li>
                <img src="{{url_for('static',filename='img/whatsapp.png')}}" width="32" height="32">
                <p><a href="https://web.whatsapp.com/" target="_blank">Escribenos en:<br>whatsapp</a>
                </p>
            </li>
        </ul>
    </div>
    <br>
    <center>
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <h3 class="item">TRATAMIENTOS PARA PLANTAS</h3>
                    <div class="col-sm-3">
                        <br>
                        <div class="card">
                            <div class="card-header">
                                HERBICIDA ROUNDUP 500ml
                            </div>
                            <center>
                                <div class="card-body">
                                    
                                        <img src="{{url_for('static',filename='img/in1.png')}}" alt="" width="200px" height="200px">
                                    

                                    <p class="card-text">PRECIO: $14.00 </p>
                                    <div class="comprar">
                                        <a href="{{ url_for('login') }}">Comprar</a>
                                    </div>
                                    <a  target="_blank" href="https://www.sag.gob.cl/sites/default/files/roundup_etiqueta.pdf"><input type="button" class="informate"value="informate aqui" ></a>
                                </div>
                            </center>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <br>
                        <div class="card">
                            <div class="card-header">
                                SUSTRATO UNIVERSAL 5L
                            </div>
                            <center>
                                <div class="card-body">
                                    
                                        <img src="{{url_for('static',filename='img/in2.png')}}" alt="" width="200px" height="200px">
                                  

                                    <p class="card-text">PRECIO: $2.54</p>
                                    <div class="comprar">
                                        <a href="{{ url_for('login') }}">Comprar</a>
                                    </div>
                                    <a  target="_blank" href="https://www.gruposur.com/download/hojas_tecnicas/ht-556-54060-000.pdf"><input type="button" class="informate"value="informate aqui" ></a>
                                </div>
                            </center>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <br>

                        <div class="card">
                            <div class="card-header">
                                ABONO PARA ORQUIDEA 40ml
                            </div>
                            <center>
                                <div class="card-body">
                                    
                                        <img src="{{url_for('static',filename='img/in3.png')}}" alt="" width="200px" height="200px">
                                    

                                    <p class="card-text">PRECIO: $5.22</p>
                                    <div class="comprar">
                                        <a href="{{ url_for('login') }}">Comprar</a>
                                    </div>
                                    <a  target="_blank" href="https://www.evergreencr.com/wp-content/uploads/2019/01/Ficha-T%C3%A9cnica-del-Producto-1.4-Orqu%C3%ADdeas.pdf"><input type="button" class="informate"value="informate aqui" ></a>
                                </div>
                            </center>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <br>
                        <div class="card">
                            <div class="card-header">
                                AQUAPLANT COMPLET 150ml
                            </div>
                            <center>
                                <div class="card-body">
                                    
                                        <img src="{{url_for('static',filename='img/in4.png')}}" alt="" width="200px" height="200px">
                                   

                                    <p class="card-text">PRECIO: $1.50</p>
                                    <div class="comprar">
                                        <a href="{{ url_for('login') }}">Comprar</a>
                                    </div>
                                    <a  target="_blank" href="http://intranet.comafe.es/Fic-Nav/Adj-Articulos/71294/71294_FT.pdf"><input type="button" class="informate"value="informate aqui" ></a>
                                </div>
                            </center>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <br>
                        <div class="card">
                            <div class="card-header">
                                Fertilizante Universal 1L
                            </div>
                            <center>
                                <div class="card-body">
                                    
                                        <img src="{{url_for('static',filename='img/img_P1.jpg')}}" alt="" width="200px" height="200px">
                                   

                                    <p class="card-text">PRECIO: $8.00</p>
                                    <div class="comprar">
                                        <a href="{{ url_for('login') }}">Comprar</a>
                                    </div>
                                    <a  target="_blank" href="https://es.wikipedia.org/wiki/Fertilizante"><input type="button" class="informate"value="informate aqui" ></a>
                                </div>
                            </center>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <br>
                        <div class="card">
                            <div class="card-header">
                                Sustrato para bonsáis 5L
                            </div>
                            <center>
                                <div class="card-body">
                                    
                                        <img src="{{url_for('static',filename='img/img_T2.jpg')}}" alt="" width="200px" height="200px">
                                    

                                    <p class="card-text">PRECIO: $6.60</p>
                                    <div class="comprar">
                                        <a href="{{ url_for('login') }}">Comprar</a>
                                    </div>
                                    <a  target="_blank" href="https://es.wikipedia.org/wiki/Cultivo_y_cuidado_del_bons%C3%A1i"><input type="button" class="informate"value="informate aqui" ></a>
                                </div>
                            </center>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <br>
                        <div class="card">
                            <div class="card-header">
                                Abrillantador de hojas
                            </div>
                            <center>
                                <div class="card-body">
                                    
                                        <img src="{{url_for('static',filename='img/img_T3.jpg')}}" alt="" width="200px" height="200px">
                                    

                                    <p class="card-text">PRECIO: $7.00</p>
                                    <div class="comprar">
                                        <a href="{{ url_for('login') }}">Comprar</a>
                                    </div>
                                    <a  target="_blank" href="https://martinezcarra.es/sites/default/files/fichas-seguridad/abrillantador_de_hojas-ftc.pdf"><input type="button" class="informate"value="informate aqui" ></a>
                                </div>
                            </center>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <br>
                        <div class="card">
                            <div class="card-header">
                                Abono Clavos Flor
                            </div>
                            <center>
                                <div class="card-body">
                                    
                                        <img src="{{url_for('static',filename='img/img_T4.jpg')}}" alt="" width="200px" height="200px">
                                    

                                    <p class="card-text">PRECIO: $4.50</p>
                                    <div class="comprar">
                                        <a href="{{ url_for('login') }}">Comprar</a>
                                    </div>
                                    <a  target="_blank" href="http://intranet.comafe.es/Fic-Nav/Adj-Articulos/75212/75212_FT.pdf"><input type="button" class="informate"value="informate aqui" ></a>
                                </div>
                            </center>
                        </div>
                    </div>
                </div>
                <div class="row">
                    
                    <div class="col-sm-3">
                        <br>
                        <div class="card">
                            <div class="card-header">
                                Abono Clavos Verdes
                            </div>
                            <center>
                                <div class="card-body">
                                    
                                        <img src="{{url_for('static',filename='img/img_T5.jpg')}}" alt="" width="200px" height="200px">
                                    

                                    <p class="card-text">PRECIO: $4.50</a>
                                        <div class="comprar">
                                            <a href="{{ url_for('login') }}">Comprar</a>
                                        </div>
                                        <a  target="_blank" href="http://intranet.comafe.es/Fic-Nav/Adj-Articulos/75213/75213_FT.pdf"><input type="button" class="informate"value="informate aqui" ></a>
                                </div>
                            </center>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <br>
                        <div class="card">
                            <div class="card-header">
                                Abono Universal Pellet
                            </div>
                            <center>
                                <div class="card-body">
                                    
                                        <img src="{{url_for('static',filename='img/img_T6.jpg')}}" alt="" width="200px" height="200px">
                                   
                                    
                                    <p class="card-text">PRECIO: $14.50</p>
                                    <div class="comprar">
                                        <a href="{{ url_for('login') }}">Comprar</a>
                                    </div>
                                    <a  target="_blank" href="https://es.wikipedia.org/wiki/Abono_org%C3%A1nico"><input type="button" class="informate"value="informate aqui" ></a>
                                </div>
                            </center>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <br>
                        <div class="card">
                            <div class="card-header">
                                Abono NutriOne Essence 300g
                            </div>
                            <center>
                                <div class="card-body">
                                    
                                        <img src="{{url_for('static',filename='img/img_T7.jpg')}}" alt="" width="200px" height="200px">
                                    

                                    <p class="card-text">PRECIO: $13.99</p>
                                    <div class="comprar">
                                        <a href="{{ url_for('login') }}">Comprar</a>
                                    </div>
                                    <a  target="_blank" href="https://www.gadotagro.com/wp-content/uploads/2020/08/NutriONE-Essence-300g-POS_553661ESa_BAG_27.8.2018low-1.pdf"><input type="button" class="informate"value="informate aqui" ></a>
                                </div>
                            </center>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <br>
                        <div class="card">
                            <div class="card-header">
                                Abono Universal Blu 5Kg
                            </div>
                            <center>
                                <div class="card-body">
                                    
                                        <img src="{{url_for('static',filename='img/img_T8.jpg')}}" alt="" width="200px" height="200px">
                                    

                                    <p class="card-text">PRECIO: $9.80</p>
                                    <div class="comprar">
                                        <a href="{{ url_for('login') }}">Comprar</a>
                                    </div>
                                    <a  target="_blank" href="https://assets.leroymerlin.es/is/content/lmes/16331476-0110q-es/abono-univ-novatec-azul-20kg-compo.pdf"><input type="button" class="informate"value="informate aqui" ></a>
                                </div>
                            </center>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </center>
   
</div>
{% endblock %}